.FacebookLogin {
	text-align: center;
	margin-top: 100px;
	z-index: 100;
}

.quickstart-sign-in {
	background-color: #3b5998;
	color: #fff;
	border: none;
	border-radius: 4px;

	img {
		width: 25px;
		margin: 3px 10px 3px 5px;
	}
}
