@import "variables.scss";

.navbar {
    background-color: $color-1;
    z-index: 9999;
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 4px;
    }

    #Logo {
        max-height:100%;
        margin-top: 2px;
    }

    #navbarItemProfile {
        @media screen and (max-width: $break-medium) {
            display: none;
        }
        cursor: default;
        #navbarProfile {
            display: flex;
            img {
                border-radius: 100%;
                width: 30px;
                height: 30px;
                box-shadow: 0 0 0 2px tomato;
                margin-right: 8px;
                position: relative;
                top: -4px;
            }
            p {
                color: tomato;
            }
        }
    }

    #navbarProfileMobile {
        @media screen and (min-width: $break-medium) {
            display: none;
        }
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        min-width: 50px;
        position: absolute;
        top: -5px;
        left: 50%;

        img {
            border-radius: 100%;
            width: 30px;
            height: 30px;
            box-shadow: 0 0 0 2px tomato;
            margin-right: 8px;
            margin-top: 12px;
        }
        p {
            color: tomato;
            margin-top: 17px;
        }
    }

}
